[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-cov = "*"
check-manifest = "*"

[requires]

[packages]
worek = {editable = true, path = "."}
sqlalchemy = "*"
